<form action="/achievement" method="post" enctype="multipart/form-data">
    <!-- <input type="hidden" name="_csrf" value="<%= //csrfToken %>"> -->
    <div class="flex flex-col gap-2 py-4">
        <div class="flex-auto">
            <label class="block" for="contestOrCourseName">Name of Course/Contest : </label>
            <input type="text" id="contestOrCourseName" name="contestOrCourseName" placeholder="What's next?"
                class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm" required>
        </div>
        <div class="flex-auto">
            <label for="file">Certificate : </label>
            <input type="file" id="file" name="file" placeholder="What's next?"
                class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm" required>
        </div>
        <div class="flex-auto">
            <label for="date">Date :</label>
            <input type="date" id="date" name="date"
                class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm leading-4" required>
        </div>
        <div class="flex-none">
            <button type="submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2 ">Add</button>
        </div>
    </div>
</form>