<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    function deleteAchievement(id){
      fetch(`/achievement/${id}`, {
        method: 'delete',
        headers: {'Content-Type': 'application/json'},
      })
      .then((res) => {
        if (res.ok) {
          window.location.reload()
        }
      })
      .catch ((err) => console.error(err)) 
    }
  </script>
  <title>Student Achievement</title>
</head>
<body>
  <div class="grid grid-cols-6">
    <%- include("header.ejs") %>
    
    <div class="col-start-3 col-span-2">

      <%- include("displayAchievements.ejs", {data: allAchievements, content: "Achievements", id:"all-achievement"}) %>

    </div>
  </div>
</body>
</html>